doctype html
head    
    title Hello testing stuff 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js')
    meta(name='viewport' content='width-device-width, initial-scale=1, shrink-to-fit=no')


div(class='container')
    #message
        h1 Hello World
        h3 pug's in the house boyyyyeee


